

html,body{
    height: 100%;
    background-color: #464646;
    background:url(pictures/multbridge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center
}



.max{
    max-width: 600px;
    max-height: 100%;
}

.list{
    list-style-type: none;
}

.main{
    padding-top: 30vh;
}

.background-mustard{
    background-color: #e1ad01;
    
}

.background-terra{
    background-color: #b84221;

}

.text-mustard{
    color: #e1ad01;
    text-decoration: none;

}
a.text-mustard:hover{
    color:#b84221;
    font-style: italic;
}

a.navbar-text:hover{
    color:#47A8BD
}

.text-terra{
    color: #b84221;
    text-decoration: none;
}

.navbar-custom{
    color:#e1ad01;
    background-color:#464646; 
    text-decoration: none;  
    
}

.navbar-text{
    color:white;
    text-decoration: none;
    padding:.5rem;
}

h6{
    color: #e1ad01;
}